* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--dark--primary--color);
  color: var(--light--primary--color);
}

html, body {
  width: 100vw;
  min-height: 100vh;
}