<div class="container">
  <div class="container__inner">
    <div class="container__inner__typography">
      <app-header-typography [content]="'E-Bookler'"></app-header-typography>
      <app-sub-header-typography [content]="'Start monetizing your writting time!'"></app-sub-header-typography>
    </div>
    <app-divider [width]="'10rem'" [height]="'0.050rem'"></app-divider>
    <div class="container__inner__buttons">
      <app-typography-button [content]="'Sign In'"></app-typography-button>
      <app-typography-button [content]="'Sign Up'"></app-typography-button>
    </div>
  </div>
</div>
