.container {
  height: 90vh;
  width: 100vw;

  &__inner {
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    &__typography {
      padding: 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 1.5rem;
    }

    &__buttons {
      padding: 1rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 0.5rem;
    }
  }
}
