.container {
  width: 100vw;
  min-height: 4rem;

  &__inner {
    min-height: inherit;
    width: inherit;

    padding: 0 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.column {
      height: auto;
      width: auto;
    }
  }
}
