:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 0.25rem 0.050rem var(--dark--blue--theme--color);

  .container {
    height: 10vh;
    width: 100vw;

    &__inner {
      height: inherit;
      width: inherit;

      padding: 0 2rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        * {
          display: flex;
        }

        &__icon-collection {
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
        }

      }
    }
  }

  @media(min-width: 720px) {
    .container {
      width: 100%;

      max-width: 60rem;
    }
  }
}

