<div class="container">
  <div class="container--inner">
    <div class="container--inner column">
      <div class="container--inner column icon"></div>
      <div class="container--inner column divider"></div>
      <div class="container--inner column typography"></div>
    </div>
    <div class="container--inner column">
      <div class="container--inner column icons">
        <div class="container--inner column icons icon"></div>
        <div class="container--inner column icons icon"></div>
      </div>
      <div class="container--inner column divider"></div>
      <div class="container--inner column icons">
        <div class="container--inner column icons icon"></div>
        <div class="container--inner column icons icon"></div>
      </div>
    </div>
  </div>
</div>
