<div class="container">
  <div class="container__inner">
    <div class="container__inner__box">
      <app-hamburger-icon></app-hamburger-icon>
      <app-divider></app-divider>
      <app-brand-typography [content]="'E-Bookler'"></app-brand-typography>
    </div>
    <div class="container__inner__box">
      <div class="container__inner__box__icon-collection">
        <app-search-icon></app-search-icon>
        <app-setting-icon></app-setting-icon>
      </div>
      <app-divider></app-divider>
      <div class="container__inner__box__icon-collection">
        <app-locale-icon></app-locale-icon>
        <app-moon-icon
          (click)="this.themeService.reverseTheme()"
          *ngIf="this.themeService.isDarkTheme()">
        </app-moon-icon>
        <app-sun-icon
          (click)="this.themeService.reverseTheme()"
          *ngIf="this.themeService.isLightTheme()">
        </app-sun-icon>
      </div>
    </div>
  </div>
</div>
